@color-dark: #111111;
@color-dark-light: #858585;
@color-light: #fefefe;
@color-accent: #e31e3c;
body {
	background-color: @color-dark;
	color: @color-light;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
nav {
	.flex-parent(@direction:row,@justify-content:space-between);
	margin: 5vw;
	.nav-left {
		display: block;
		width: 30px;
		height: 30px;
		background-color: @color-accent;
	}
	.nav-right {
		a {
			color: @color-light;
			text-decoration: none;
			font-size: 1.3em;
			i {
				font-size: 0.7em;
				padding-left: 8px;
			}
		}
	}
}
header {
	font-size: calc(1rem + 2.3vw);
	font-family: 'Newsreader', serif;
	.margin-right-left();
	margin-top: calc(400px - 10vw);
}
.change-images-section {
	margin: 0 5vw;
	@media screen and (max-width: 990px) {
		margin: 0;
	}
	.change-images-img {
		width: 100%;
		height: 50vw;
		.img-background-cover("");
	}
}
.deal-section {
	.margin-right-left();
	border-bottom: 1px solid rgba(240, 240, 240, 0.1);
	h2 {
		font-size: calc(20px + 2vw);
		line-height: 1.3;
	}
	p {
		font-size: calc(12px + 1.5vw);
		line-height: 1.6;
		padding-bottom: 2vw;
	}
}
.clients-section {
	.flex-parent(@direction:row,@justify-content:space-between,@align-items:flex-start,@flex-wrap:wrap);
	.margin-right-left();
	margin-top: 5vw;
	h3 {
		color: #858585;
		flex: 1 1 30%;
		margin-bottom: 0;
		@media screen and (max-width: 1024px) {
			flex: 1 1 100%;
		}
	}
	ul {
		list-style: none;
		font-size: calc(20px + 0.4vw);
		line-height: 1.5;
		flex: 1 1 25%;
		padding: 0;
		@media screen and (max-width: 1024px) {
			margin-top: 0.2vw;
		}
		@media screen and (max-width: 640px) {
			flex: 1 1 100%;
			margin-bottom: 0;
		}
	}
	.space-padding-bottom {
		flex: 1 1 100%;
		padding: 4vw;
		border-bottom: 1px solid rgba(240, 240, 240, 0.1);
	}
}
.lets-talk-section {
	.flex-parent(@direction:row,@justify-content:space-between,@align-items: flex-end,@flex-wrap:wrap);
	padding-top: 6vw;
	.margin-right-left();
	font-size: 1.2em;
	.lets-talk-left {
		flex: 1 1 50%;
		@media screen and (max-width: 960px) {
			flex: 1 1 100%;
		}
		a {
			text-decoration: none;
			color: @color-light;
			font-size: 2.5rem;
			@media screen and (max-width: 640px) {
				font-size: 1.4rem;
			}
			h2 {
				margin: unset;
				span {
					color: @color-accent;
					display: block;
				}
			}
		}
	}
	.lets-talk-right {
		flex: 1 1 50%;
		ul {
			list-style: none;
			.flex-parent(@direction:row,@justify-content:flex-end);
			@media screen and (max-width: 960px) {
				justify-content: flex-start;
				padding-left: 0;
			}
			li {
				padding-left: 1.5em;
				@media screen and (max-width: 960px) {
					padding-left: 0;
					padding-right: 1.5em;
				}
			}
		}
		.lets-talk-right-top {
			a {
				color: @color-light;
			}
		}
		.lets-talk-right-bottom {
			color: @color-dark-light;
		}
	}
}
footer {
	position: relative;
	margin: 5vw 6vw 0 6vw;
	.img-background-cover('../images/bg1.jpg');
	border-radius: 4px;
	background-position: unset;
	@media screen and (max-width: 1440px) {
		margin: 5vw 4vw 0 4vw;
	}
	@media screen and (max-width: 640px) {
		margin: 5vw 0 0 0;
		border-radius: 0;
		height: 170px;
		.blur {
			.img-background-cover('../images/bg1.jpg');
			background-position: unset;
			filter: blur(5px);
			-webkit-filter: blur(5px);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.footer-content {
		padding: 5px 5vw;
		a {
			color: @color-light;
			text-decoration: none;
			font-size: 1.3em;
			i {
				font-size: 0.7em;
				padding-left: 8px;
			}
		}
		.footer-lg {
			.flex-parent(@direction:row,@justify-content:space-between,@align-items:center);
			padding: 0.5vw 0;
			// margin: 0 2vw;
			@media screen and (max-width: 640px) {
				display: none;
			}
		}
		.footer-sm {
			display: none;
			@media screen and (max-width: 640px) {
				display: block;
				.center-element();
			}
		}
	}
}
.flex-parent(@direction:column,@justify-content:center,@align-items:center,@flex-wrap:nowrap) {
	display: flex;
	flex-direction: @direction;
	justify-content: @justify-content;
	align-items: @align-items;
	flex-wrap: @flex-wrap;
}
.img-background-cover(@url) {
	background-image: url(@url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.margin-right-left {
	margin: 0 9vw;
	@media screen and (max-width: 1024px) {
		margin-left: 7vw;
		margin-right: 7vw;
	}
	@media screen and (max-width: 640px) {
		margin-left: 5vw;
		margin-right: 5vw;
	}
}
.center-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
