body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f3f3f3;
}
#wrapper {
	max-width: 1600px;
	margin: 0 auto;
	background-color: #ffffff;
}
a {
	text-decoration: none;
	color: black;
}
.img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
/* ----------------------Navbar and First Image---------------------- */
.main-nav {
	border-bottom: 1px solid rgb(48, 45, 45);
}
.main-nav a {
	font-size: 1.20rem;
	margin: 1.35rem 0;
	font-weight: 500;
}
.logo svg {
	width: 3.5rem;
	height: 1.5rem;
}
.element {
	padding: 0 1.35rem;
}
.element-right {
	padding: 0 1rem;
}
.right-nav :nth-child(1) {
	color: #0000ff;
}
.right-nav :nth-child(2) {
	font-size: 1rem;
}
.second-nav {
	padding: 1.3rem 2.5rem;
}
.second-nav a {
	padding: 0 0.5rem;
}
.second-nav :nth-child(1) {
	color: #ff764d;
}
.ableton-box {
	background-image: url(./images/header.jpg);
	min-height: calc(100vh - 150px);
	margin: 0 2.5rem;
	position: relative;
}
.ableton-box h1 {
	margin: 0 auto;
	font-size: 8rem;
	color: #ff764d;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* -----------------------------content---------------------------- */
.content {
	margin: 7.5rem 2.5rem;
}
.text-content {
	width: 48vw;
	margin: 0 auto;
	line-height: 1.5;
}
.content p {
	font-size: 1.25rem;
}
.content span {
	color: #0000ff;
	text-transform: capitalize;
}

/* -------------------------------------------------------------- */
.content-img {
	position: relative;
	height: 58vw;
}
.yellow-bg {
	background-color: #fbffa7;
	width: 58vw;
	height: 58vw;
	position: absolute;
	right: 0;
}
.left-img {
	background-image: url('./images/work.jpg');
	display: inline-block;
	width: 42vw;
	height: 40vw;
	position: relative;
	top: 9vw;
	margin-left: 8vw;
}
.right-img {
	background-image: url('./images/walk.jpg');
	display: inline-block;
	width: 33vw;
	height: 25vw;
	position: relative;
	margin-left: 7vw;
}
/* -------------------------------------------------------------- */
.video-content {
	background-image: url('./images/video.jpg');
	width: 48vw;
	height: 30vw;
	min-height: calc(100vh - 450px);
	margin: 8rem auto;
}
/* -------------------------------------------------------------- */
.content-img-2 {
	position: relative;
	height: 76vw;
}
.green-bg {
	background-color: #b6ffc0;
	width: 58vw;
	height: 76vw;
	position: absolute;
}
.green-top-img {
	background-image: url('./images/writing.jpg');
	width: 33vw;
	height: 24vw;
	margin: 9vw 0 9vw 8vw;
}
.green-bottom-img {
	background-image: url('./images/board.jpg');
	width: 33vw;
	height: 24vw;
	margin-left: 8vw;
}
.green-right-img {
	background-image: url('./images/desksetup.jpg');
	width: 41vw;
	height: 41vw;
	position: absolute;
	top: 17vw;
	right: 0;
	margin-right: 7vw;
}
/* -------------------------------------------------------------- */
.device-img {
	background-image: url("./images//device.jpg");
	width: 83vw;
	height: 46vw;
	min-height: calc(100vh - 450px);
	margin: 8rem auto;
}
/* -------------------------------------------------------------- */
.content-img-3 {
	position: relative;
	height: 58vw;
}
.purple-bg {
	background-color: #d5b3ff;
	width: 66vw;
	height: 58vw;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}
.purple-left-img {
	background-image: url("./images/library.jpg");
	width: 33vw;
	height: 22vw;
	position: absolute;
	margin-left: 8vw;
	top: 50%;
	transform: translateY(-50%);
}
.purple-right-img {
	background-image: url("./images/class.jpg");
	width: 40vw;
	height: 40vw;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
/* -------------------------------------------------------------- */
.content-img-4 {
	height: 40%;
	display: flex;
	justify-content: center;
	margin: 0 8vw 0 8vw;
}
.light-blue-img {
	background-image: url("./images/talk-lg.jpg");
	width: 50vw;
	height: 40vw;
}
.light-blue-bg {
	background-color: #b1c5ff;
	width: 50vw;
	height: 40vw;
	order: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.body-text {
	padding: 7.5vw;
	line-height: 1.5;
}
.body-text h1 {
	font-size: 1.6rem;
}
.body-text a {
	font-size: 1.6rem;
	font-weight: 700;
	color: #0000ff;
}

/* ----------------------------Responsive---------------------------- */
/* Large*/
@media all and (min-width: 960px) {
	.main-nav {
		display: flex;
		flex-wrap: nowrap;
		padding: 0 2.5rem;
	}
	.left-nav,
	.right-nav {
		display: flex;
		flex: 1;
	}
	.right-nav {
		justify-content: flex-end;
	}
	.toggle {
		display: none;
	}
}
/* Medium  */
@media all and (max-width: 960px) {
	.main-nav {
		padding: 1.5rem 0;
	}
	.logo {
		padding: 0 1.5rem;
	}
	.left-nav,
	.right-nav {
		display: none;
	}
	.main-nav.active div {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.main-nav.active {
		background-color: #0000ff;
		transition: .5s ease-in-out;
	}
	.main-nav.active a {
		color: white;
	}
}
/* small  */
@media all and (max-width: 770px) {
	.text-content,
	.video-content {
		width: 100%;
	}
}
/* flex  */
@media all and (max-width: 1200px) {
	.content-img-4 {
		flex-direction: column;
	}
	.light-blue-bg,
	.light-blue-img {
		width: 100%;
	}
	.body-text h1,
	.body-text a {
		font-size: 1.2rem;
	}
}
/* Very Large */
@media screen and (min-width: 1600px) {
	.text-content {
		width: 768px;
	}
	.content-img {
		height: 928px;
	}
	.yellow-bg {
		width: 928px;
		height: 928px;
	}
	.left-img {
		width: 672px;
		height: 640px;
		margin-left: 128px;
		top: 144px;
	}
	.right-img {
		width: 528px;
		height: 400px;
		margin-left: 112px;
	}
	.video-content {
		width: 768px;
		height: 480px;
	}
	.content-img-2 {
		height: 1216px;
	}
	.green-bg {
		width: 928px;
		height: 1216px;
	}
	.green-top-img {
		width: 528px;
		height: 384px;
		margin-left: 144px 0 144px 128px;
		top: 140;
	}
	.green-bottom-img {
		width: 528px;
		height: 384px;
		margin-left: 128px;
	}
	.green-right-img {
		width: 656px;
		height: 656px;
		margin-right: 112px;
		top: 272;
	}
	.device-img {
		width: 1380px;
		height: 736px;
	}
	.content-img-3 {
		height: 928px;
	}
	.purple-bg {
		width: 1056px;
		height: 928px;
		left: 791.500;
	}
	.purple-left-img {
		width: 528px;
		height: 352px;
		margin-left: 128px;
	}
	.purple-right-img {
		width: 656px;
		height: 720px;

		left: 927;
	}
	.content-img-4 {
		height: 1177.500px;
	}
	.light-blue-img {
		background-image: url("./images/talk.jpg");
		width: 663.500px;
		height: 640px;
	}
	.light-blue-bg {
		width: 663.500px;
		height: 640px;
	}
}
