body {
	margin: 0;
	font-family: prompt, sans-serif;
}
#wrapper {
	max-width: 1600px;
	margin: 0 auto;
	background-color: #ffffff;
}
/* ---------------------------------------------------- */
header {
	position: relative;
}
.navbar-container {
	width: 100%;
	max-width: 1600px;
	position: absolute;
	top: 0;
	position: fixed;
	/* z-index: 100; */
}
nav {
	display: flex;
	margin: 1rem;
	padding: 0.2rem 1rem;
	background-color: #1a2456;
}
.logo {
	display: flex;
	align-items: center;
	color: #efc2b3;
	text-decoration: none;
}
nav ul {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	list-style: none;
}
nav ul li a {
	padding: 0 1rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #efc2b3;
	font-size: 0.8em;
	letter-spacing: 0.2em;
}
nav ul li a:hover,
.logo {
	color: #e6a089;
}
nav ul li i {
	font-size: 1.3em;
}
.logo-bag {
	display: flex;
	align-items: center;
	font-size: 1.3em;
	padding: 0 1rem;
	color: #efc2b3;
}
.logo-bars {
	display: none;
}
.workflow-link:hover {
	color: #ffffffbf;
}
.workflows-dropdown-show {
	display: flex !important;
	flex-direction: column;
	position: absolute;
	background-color: #ffffff;
	margin-top: 0.7rem;
	padding: 1em 0;
}
.hide {
	display: none;
}
.workflows-dropdown a {
	color: #000000;
	line-height: 2.2;
}

/* ---------------------------------------------------- */
.slideshow-container {
	height: 680px;
}
.slide {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide img {
	width: inherit;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
.dots-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 1rem;
	text-align: center;
}
.slide-dot {
	height: 9px;
	width: 9px;
	margin: 0 7px;
	background-color: #1a2456;
	cursor: pointer;
	border-radius: 50%;
	display: inline-block;
	transition: opacity 0.6s ease;
	opacity: 0.5;
}
.active {
	opacity: 1;
}
.prev-arrow,
.next-arrow {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0.25em 0.6em;
	color: #1a2456;
	background-color: #ffffff80;
	font-size: 2em;
	border-radius: 50%;
	user-select: none;
}
.next-arrow {
	right: 0;
}
.slideshow-container:hover .next-arrow,
.slideshow-container:hover .prev-arrow {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}
.next-arrow:hover,
.prev-arrow:hover {
	background-color: #ffffffbf;
	opacity: 1;
}
/* ---------------------------------------------------- */
.side-page-content {
	height: 100vh;
	width: 0px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2000;
	background-color: #ffffff;
	transition: width 0.7s ease-in-out;
}
.side-page-content.show-side {
	width: 370px;
}
.body-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.514);
}
.side-page-content > * {
	padding: 20px;
	width: 330px;
}
.side-page-content h3:first-child {
	margin: 0;
	background-color: #1a2456;
	color: #ffffff;
	cursor: pointer;
	text-transform: uppercase;
}
.side-page-content-mid p:first-child {
	text-align: center;
}
.side-page-content-mid-editing-box {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 3em;
}
.side-page-content-mid-editing-box img {
	width: 6em;
	grid-row-start: 1;
	grid-row-end: 3;
}
.side-page-content-mid-editing-box h4 {
	margin: 0 0 0.7em 0;
	text-transform: uppercase;
	color: #1a2456;
}
.side-page-content-mid-editing-box p {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 0.7em;
}
.side-page-content-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: #1a2456;
}
.side-page-content-footer p {
	color: #ffffff;
	text-transform: uppercase;
}
.side-page-content-footer span {
	float: right;
}
.side-page-content-footer button {
	padding: 0.5rem 1rem;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	border-radius: 50rem;
	background-color: #a48a92;
	color: #363b41;
}
/* ---------------------------------------------------- */
.console-types-container {
	width: 1100px;
	height: 925.672px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px auto;
	padding-top: 20px;
}
.console-types-box {
	width: 527.500px;
	height: 388.672px;
}
.console-types-box a,
.module-types-box a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #1a2456;
}
.console-types-img {
	height: 351.672px;
	background-position: center;
	background-size: cover;
	transition: all 0.3s ease;
}
.ct-img1 {
	background-image: url("./images/console-traveler1.jpg");
}
.ct-img2 {
	background-image: url("./images/console-traveler2.jpg");
}
.ct-img3 {
	height: 440px;
	background-image: url("./images/console-traveler3.jpg");
}
.ct-img1:hover {
	background-image: url("./images/console-traveler-hover1.jpg");
	transition: all 0.3s ease;
}
.ct-img2:hover {
	background-image: url("./images/console-traveler-hover2.jpg");
	transition: all 0.3s ease;
}
.ct-img3:hover {
	background-image: url("./images/console-traveler-hover3.jpg");
	transition: all 0.3s ease;
}
.console-types-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.console-types-box:nth-of-type(3) {
	height: 477px;
	width: 100%;
}
/* ---------------------------------------------------- */
.mid-page-img {
	width: 100%;
	height: 80vw;
	max-height: 675px;
	background-image: url("./images/midpage-module.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
/* ---------------------------------------------------- */
.module-types-container {
	width: 1100px;
	height: 925.672px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px auto;
}

.module-types-box {
	width: 336.656px;
	height: 395.656px;
}
.module-types-img {
	height: 336.656px;
	width: 336.656px;
	background-position: center;
	background-size: cover;
	transition: all 0.3s ease;
}
.module-types-types-text {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 7px;
}
.module-types-types-text h3 {
	margin: 0;
}

.mt-img1 {
	background-image: url("./images/module1.jpg");
}
.mt-img1:hover {
	background-image: url("./images/module-hover1.jpg");
}
.mt-img2 {
	background-image: url("./images/module2.jpg");
}
.mt-img2:hover {
	background-image: url("./images/module-hover2.jpg");
}
.mt-img3 {
	background-image: url("./images/module3.jpg");
}
.mt-img3:hover {
	background-image: url("./images/module-hover3.jpg");
}
.mt-img4 {
	background-image: url("./images/module4.jpg");
}
.mt-img4:hover {
	background-image: url("./images/module-hover4.jpg");
}
.mt-img5 {
	background-image: url("./images/module5.jpg");
}
.mt-img5:hover {
	background-image: url("./images/module-hover5.jpg");
}
/* ---------------------------------------------------- */
footer {
	width: 100%;
	font-size: 0.8em;
	background-color: #1a2456;
}
.footer-container {
	width: 1100px;
	height: 276.172;
	padding: 40px;
	margin: 0 auto;
}
.footer-links-container {
	display: flex;
	justify-content: space-between;
}
.footer-links-box ul {
	list-style: none;
	padding-left: 0;
}
.footer-links-box li {
	color: #efc2b3;
	line-height: 1.6;
}
.footer-links-box h4,
.footer-subscribe-box h4 {
	color: #efc2b3;
	text-transform: uppercase;
	font-size: 0.9em;
}
.footer-links-box a {
	color: #efc2b3;
	text-decoration: none;
}
.footer-links-box a:hover {
	color: #ff8b68;
	text-decoration: underline;
}
.footer-subscribe-box p,
.privacy-copyright-sm {
	color: #efc2b3;
}
.footer-subscribe-box {
	flex: 0 0 30%;
}
input[type="text"] {
	padding: 0.3rem;
	background-color: transparent;
	border: 1px solid #efc2b3;
	color: rgb(219, 216, 216);
	outline: none;
}
.footer-subscribe-box button {
	padding: 0.3rem 1rem;
	margin-left: 0.5rem;
	background-color: #a48a92;
	color: #363b41;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	border-radius: 50rem;
}
.footer-links {
	list-style: none;
	display: flex;
	padding: 0;
	margin-top: 40px;
	text-align: center;
}
.footer-links li {
	width: 15px;
	height: 15px;
	padding: .4em;
	margin-right: 0.5rem;
	background-color: #efc2b3;
	color: transparent;
	border-radius: 50rem;
}
.footer-links svg {
	width: 15px;
	height: 15px;
}
.small-text {
	font-size: 0.7rem;
	line-height: 3;
	display: block;
}
.small-text a {
	text-decoration: none;
	color: #ff8b68;
}
.privacy-copyright-sm {
	display: none;
}
/* ----------------------------Responsive---------------------------- */
@media screen and (min-width: 1600px) {
	.console-types-container {
		max-width: 1140px;
	}
}
@media screen and (max-width: 1200px) {
	.console-types-container {
		width: 920px;
		height: 793.672px;
		margin: 0 auto;
	}
	.console-types-box {
		width: 437.500px;
		height: 328.672px;
	}
	.console-types-img {
		height: 291.67222px;
	}
	.ct-img3 {
		height: 368px;
	}
	.console-types-box:nth-of-type(3) {
		height: 405px;
	}
	.module-types-container {
		width: 965px;
		height: 1491px;
		grid-template-columns: repeat(2, 1fr);
	}
	.module-types-box {
		width: 437.500px;
		height: 474.500px;
	}
	.module-types-img {
		height: 437.500px;
		width: 437.500px;
	}
	.footer-container {
		width: 90vw;
		padding: 40px 10px;
	}
}
@media screen and (max-width: 1000px) {
	input[type="text"] {
		width: 155px;
	}
	.footer-subscribe-box button {
		margin-left: 0.3rem;
	}
}
@media screen and (max-width: 990px) {
	nav {
		display: grid;
		grid-template-columns: 1fr auto auto;
		padding: 0.5em;
	}
	.hide-sm {
		display: none;
	}
	.show-ul {
		display: block;
		margin-top: 0;
		flex-direction: column;
		grid-row-start: 2;
	}
	nav ul li {
		line-height: 2;
	}
	.logo-bars {
		display: flex;
		align-items: center;
		font-size: 1.3em;
		padding: 0 1rem;
		color: #efc2b3;
		border: none;
	}
	.console-types-container {
		width: 680px;
		height: 634.6722px;
	}
	.console-types-box {
		width: 332.500px;
		height: 280.6722px;
	}
	.console-types-img {
		height: 221.672px;
	}
	.ct-img3 {
		height: 272px;
	}
	.console-types-box:nth-of-type(3) {
		height: 309px;
	}
	.module-types-container {
		width: 695px;
		height: 1220px;
	}
	.module-types-box {
		width: 332.500px;
		height: 391.500px;
	}
	.module-types-img {
		height: 332.500px;
		width: 332.500px;
	}
	.footer-links-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 2;
	}
	.footer-links-container div:nth-of-type(1) {
		order: 1;
	}
	.footer-links-container div:nth-of-type(5) {
		order: 2;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.footer-links-container div:nth-of-type(2) {
		order: 3;
	}
	.footer-links-container div:nth-of-type(3) {
		order: 4;
	}
	.footer-links-container div:nth-of-type(4) {
		order: 5;
	}
	input[type="text"] {
		width: 60%;
	}
}
@media screen and (max-width: 767px) {
	.slideshow-container {
		height: 337px;
	}
	.console-types-container {
		width: 90.65vw;
		height: 1388.030px;
	}
	.console-types-box {
		width: inherit;
		height: 258.344px;
	}
	.console-types-img,
	.ct-img3 {
		height: 388.344px;
	}
	.module-types-container {
		width: 88vw;
		height: 1964.220px;
		grid-template-columns: repeat(1, 1fr);
	}
	.module-types-box {
		width: 88vw;
	}
	.module-types-img {
		width: 88vw;
	}
}
@media screen and (max-width: 567px) {
	.prev-arrow,
	.next-arrow {
		background-color: transparent;
	}
	.next-arrow:hover,
	.prev-arrow:hover {
		background-color: transparent;
	}
	.footer-links-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer-links-container div:nth-of-type(1) {
		order: 2;
	}
	.footer-links-container div:nth-of-type(5) {
		order: 1;
		grid-column: span 2;
	}
	.privacy-copyright-sm {
		display: block;
		order: 6;
	}
	.privacy-copyright-lg {
		display: none;
	}
}
