body {
  background-color: #fcf9ee;
  font-family: Favorit, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.spring-summer {
  width: 80%;
  padding: 8vw 8vw 0 0;
  text-align: right;
}
.spring-summer h1 {
  margin: 0;
  font-size: calc(1rem + 12vw);
  line-height: calc(0.8em + 10px);
  letter-spacing: -0.1em;
}
.spring-summer div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.spring-summer div h3 {
  font-size: calc(1rem + 4vw);
  font-weight: lighter;
  font-style: italic;
  padding-left: 1vw;
  margin-bottom: 10px;
  line-height: 0.8em;
  font-family: 'Caveat Brush', cursive;
}
.spring-summer div h3 span {
  display: block;
  text-align: center;
}
.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 80%;
  padding-right: 8vw;
}
.explore-section .explore-section-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.explore-section .explore-section-top img {
  width: 40%;
  border: 2px solid black;
}
.explore-section .explore-section-top img:nth-of-type(1) {
  margin-right: 1em;
}
.explore-section .explore-section-mid {
  font-size: 0.8rem;
  padding-top: 0.6em;
  width: calc(80% + 8px + 16px);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.moving-bar {
  width: 100%;
  padding: 5em 0;
}
.moving-bar .moving-bar-container {
  overflow: hidden;
  width: inherit;
  height: 5vw;
  border: 2px black;
  border-style: solid none;
  background-color: #ddc92a;
}
.moving-bar .moving-bar-container .moving-bar-animation-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: inherit;
}
.moving-bar .moving-bar-container .moving-bar-animation-container div {
  flex-shrink: 0;
  width: 378px;
}
.moving-bar .moving-bar-container .moving-bar-animation-container div h1 {
  font-weight: 400;
  letter-spacing: -0.06em;
}
.who-we-are {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 80%;
  padding: 7vw 8vw 7vw 0;
}
.who-we-are .who-we-are-container p {
  font-size: calc(1rem + 3vw);
  line-height: calc(0.7em + 8px);
  text-transform: none;
}
.who-we-are .who-we-are-container p span {
  font-size: 0.5em;
  text-decoration: underline;
  vertical-align: top;
  line-height: 1;
  text-transform: uppercase;
  padding-right: 5vw;
}
.who-we-are .who-we-are-container p a {
  color: black;
}
.shoes-slide {
  position: relative;
  width: 100%;
  height: 45vw;
  overflow: hidden;
}
.shoes-slide .shoes-slide-inner {
  position: absolute;
  width: 160%;
  padding-left: 12vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  pointer-events: none;
}
.shoes-slide .shoes-slide-box {
  background-color: #e7d6c4;
  border: 1px solid black;
  width: 29vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.shoes-slide .shoes-slide-box .shoes-slide-box-shoe-img {
  width: inherit;
  height: 20vw;
  object-fit: cover;
}
.shoes-slide .shoes-slide-box .shoes-slide-box-unisex-img {
  width: 10vw;
}
.shoes-slide .shoes-slide-box p {
  margin: 0;
}
.shoes-slide .shoes-slide-box .the-eye {
  font-size: calc(1rem + 7vw);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: -0.04em;
  line-height: 1;
}
.shoes-slide .shoes-slide-box .price {
  font-size: calc(1rem + 1.5vw);
  line-height: 4vw;
  letter-spacing: -0.1em;
}
.shoes-slide .shoes-slide-box .line-through {
  text-decoration: line-through;
}
.shop-all-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 80%;
  padding-right: 8vw;
}
.names-section {
  width: 80%;
  max-width: 100%;
  padding: 8vw 8vw 8vw 0;
}
.names-section .names-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
}
.names-section .names-container .names-container-left {
  position: relative;
  flex: 1 1 45%;
}
.names-section .names-container .names-container-left img {
  position: absolute;
  width: 10vw;
}
.names-section .names-container .names-container-left .names-container-left-names {
  font-size: calc(1rem + 1vw);
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  top: -50%;
  left: 1em;
}
.names-section .names-container .names-container-right {
  flex: 1 1 60%;
}
.names-section .names-container .names-container-right p {
  text-transform: none;
}
footer {
  width: 100%;
  padding-bottom: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer .footer-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
footer .footer-container h5 {
  margin: 0 0 1vw 0;
}
footer .footer-container .footer-top-subscribe {
  flex-grow: 2;
}
footer .footer-container .footer-top-subscribe img {
  width: 5vw;
}
footer .footer-container .footer-bottom-email input {
  border-style: none none solid;
  border-color: #141414;
  background-color: transparent;
  color: #141414;
  font-size: 1em;
  width: 25vw;
  line-height: 4vw;
}
footer .footer-container .footer-bottom-email button {
  border: none;
  background-color: transparent;
  position: relative;
  bottom: 0;
  right: 5.2vw;
}
footer .footer-container .footer-top-info,
footer .footer-container .footer-top-policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
}
footer .footer-container .footer-top-info a,
footer .footer-container .footer-top-policy a {
  color: rgba(0, 0, 0, 0.76);
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  letter-spacing: -0.04em;
}
footer .footer-container .footer-top-arrow img {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  transform: rotate(-90deg);
}
footer .footer-container .footer-bottom-social-apps {
  align-self: end;
}
footer .footer-container .footer-bottom-social-apps img {
  width: 16px;
}
footer .footer-container .footer-lower-text {
  font-size: 1.2vw;
}
footer .footer-container .footer-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
footer .footer-container .footer-item div {
  margin-bottom: 5em;
}
.arrow-circle-container {
  position: relative;
  width: 100%;
  margin-top: 3em;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.arrow-circle-container a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2em;
}
.arrow-circle-container .circle-arrow img {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
.moving-bar-animation {
  animation-name: movingBar;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes movingBar {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
