body {
  background-color: #111111;
  color: #fefefe;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5vw;
}
nav .nav-left {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #e31e3c;
}
nav .nav-right a {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.3em;
}
nav .nav-right a i {
  font-size: 0.7em;
  padding-left: 8px;
}
header {
  font-size: calc(1rem + 2.3vw);
  font-family: 'Newsreader', serif;
  margin: 0 9vw;
  margin-top: calc(400px - 10vw);
}
@media screen and (max-width: 1024px) {
  header {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
@media screen and (max-width: 640px) {
  header {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.change-images-section {
  margin: 0 5vw;
}
@media screen and (max-width: 990px) {
  .change-images-section {
    margin: 0;
  }
}
.change-images-section .change-images-img {
  width: 100%;
  height: 50vw;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.deal-section {
  margin: 0 9vw;
  border-bottom: 1px solid rgba(240, 240, 240, 0.1);
}
@media screen and (max-width: 1024px) {
  .deal-section {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
@media screen and (max-width: 640px) {
  .deal-section {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.deal-section h2 {
  font-size: calc(20px + 2vw);
  line-height: 1.3;
}
.deal-section p {
  font-size: calc(12px + 1.5vw);
  line-height: 1.6;
  padding-bottom: 2vw;
}
.clients-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 9vw;
  margin-top: 5vw;
}
@media screen and (max-width: 1024px) {
  .clients-section {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
@media screen and (max-width: 640px) {
  .clients-section {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.clients-section h3 {
  color: #858585;
  flex: 1 1 30%;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .clients-section h3 {
    flex: 1 1 100%;
  }
}
.clients-section ul {
  list-style: none;
  font-size: calc(20px + 0.4vw);
  line-height: 1.5;
  flex: 1 1 25%;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .clients-section ul {
    margin-top: 0.2vw;
  }
}
@media screen and (max-width: 640px) {
  .clients-section ul {
    flex: 1 1 100%;
    margin-bottom: 0;
  }
}
.clients-section .space-padding-bottom {
  flex: 1 1 100%;
  padding: 4vw;
  border-bottom: 1px solid rgba(240, 240, 240, 0.1);
}
.lets-talk-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 6vw;
  margin: 0 9vw;
  font-size: 1.2em;
}
@media screen and (max-width: 1024px) {
  .lets-talk-section {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
@media screen and (max-width: 640px) {
  .lets-talk-section {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.lets-talk-section .lets-talk-left {
  flex: 1 1 50%;
}
@media screen and (max-width: 960px) {
  .lets-talk-section .lets-talk-left {
    flex: 1 1 100%;
  }
}
.lets-talk-section .lets-talk-left a {
  text-decoration: none;
  color: #fefefe;
  font-size: 2.5rem;
}
@media screen and (max-width: 640px) {
  .lets-talk-section .lets-talk-left a {
    font-size: 1.4rem;
  }
}
.lets-talk-section .lets-talk-left a h2 {
  margin: unset;
}
.lets-talk-section .lets-talk-left a h2 span {
  color: #e31e3c;
  display: block;
}
.lets-talk-section .lets-talk-right {
  flex: 1 1 50%;
}
.lets-talk-section .lets-talk-right ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 960px) {
  .lets-talk-section .lets-talk-right ul {
    justify-content: flex-start;
    padding-left: 0;
  }
}
.lets-talk-section .lets-talk-right ul li {
  padding-left: 1.5em;
}
@media screen and (max-width: 960px) {
  .lets-talk-section .lets-talk-right ul li {
    padding-left: 0;
    padding-right: 1.5em;
  }
}
.lets-talk-section .lets-talk-right .lets-talk-right-top a {
  color: #fefefe;
}
.lets-talk-section .lets-talk-right .lets-talk-right-bottom {
  color: #858585;
}
footer {
  position: relative;
  margin: 5vw 6vw 0 6vw;
  background-image: url('../images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 4px;
  background-position: unset;
}
@media screen and (max-width: 1440px) {
  footer {
    margin: 5vw 4vw 0 4vw;
  }
}
@media screen and (max-width: 640px) {
  footer {
    margin: 5vw 0 0 0;
    border-radius: 0;
    height: 170px;
  }
  footer .blur {
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-position: unset;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
footer .footer-content {
  padding: 5px 5vw;
}
footer .footer-content a {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.3em;
}
footer .footer-content a i {
  font-size: 0.7em;
  padding-left: 8px;
}
footer .footer-content .footer-lg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5vw 0;
}
@media screen and (max-width: 640px) {
  footer .footer-content .footer-lg {
    display: none;
  }
}
footer .footer-content .footer-sm {
  display: none;
}
@media screen and (max-width: 640px) {
  footer .footer-content .footer-sm {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.margin-right-left {
  margin: 0 9vw;
}
@media screen and (max-width: 1024px) {
  .margin-right-left {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
@media screen and (max-width: 640px) {
  .margin-right-left {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
