body {
  font-family: sans-serif;
  color: #434242;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #434242;
}
p {
  color: #5f5d5d;
}
.nav-container {
  width: 100%;
}
.nav-container .nav-top {
  width: 100%;
  border-bottom: 1px solid #dadada;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.nav-container .nav-top .logo {
  background-color: #e60012;
  width: 140px;
  height: 55px;
  position: relative;
}
.nav-container .nav-top .logo svg {
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-container .nav-top .nav-top-search {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 2em;
}
.nav-container .nav-top .nav-top-search button {
  border: none;
  padding: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  height: 33px;
}
.nav-container .nav-top .nav-top-search input {
  border: none;
  border-bottom: 1px solid black;
  width: 300px;
  height: 30px;
  padding-left: 1em;
}
.nav-container .nav-top .nav-top-links a {
  padding-right: 1em;
}
.nav-container .nav-top .nav-top-links a:hover {
  color: #e31e3c;
}
.nav-container .nav-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #dadada;
}
.nav-container .nav-bottom .nav-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.nav-container .nav-bottom .nav-bottom-container a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.7em;
}
.nav-container .nav-bottom .nav-bottom-container svg {
  height: 20px;
  width: 20px;
  padding-right: 0.4em;
  fill: currentColor;
}
.hero-section {
  background-color: #d6f0fa;
}
.hero-section div {
  width: 100%;
  max-width: 1089px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}
@media screen and (max-width: 1135px) {
  .hero-section div {
    max-width: 95%;
  }
}
@media screen and (max-width: 769px) {
  .hero-section div {
    max-width: 100%;
    top: 0;
  }
}
.hero-section div .hero-section-img {
  width: 100%;
}
@media screen and (max-width: 1135px) {
  .hero-section div .hero-section-img {
    width: inherit;
  }
}
.hero-section div .hero-section-e10 {
  position: absolute;
  bottom: 70px;
  right: -70px;
  width: 4em;
}
@media screen and (max-width: 1270px) {
  .hero-section div .hero-section-e10 {
    right: 10px;
    bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .hero-section div .hero-section-e10 {
    display: none;
  }
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper {
  width: 80%;
  padding: 4em 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0 1em;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .nintendo-switch-box {
  grid-column: 1 / span 2;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-left-content h2 {
  margin-top: 0;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-left-content h3 {
  color: #e31e3c;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content h2 {
  padding-right: 1em;
  margin: 0;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content .stardew-right-content-column .button-buy {
  background-color: #e31e3c;
  color: white;
  font-size: 1.3em;
  padding: 0.7em;
  border-radius: 5px;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content .stardew-right-content-column .button-buy i {
  float: right;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content .stardew-right-content-column img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
.stardew-buy-digital-section .stardew-buy-digital-wrapper .wish-sm {
  display: none;
}
@media screen and (max-width: 769px) {
  .stardew-buy-digital-section .stardew-buy-digital-wrapper {
    width: 95%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-left-content .wish-lg {
    display: none;
  }
  .stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content {
    flex-direction: column;
    width: 100%;
  }
  .stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content h2 {
    margin-bottom: 0.7em;
  }
  .stardew-buy-digital-section .stardew-buy-digital-wrapper .stardew-right-content .stardew-right-content-column {
    width: inherit;
  }
  .stardew-buy-digital-section .stardew-buy-digital-wrapper .wish-sm {
    display: block;
    color: #e31e3c;
  }
}
.slider-images {
  background-color: #d6f0fa;
}
.slider-images .slider-images-wrapper {
  width: 80%;
  padding: 3em 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1230px) {
  .slider-images .slider-images-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .slider-images .slider-images-wrapper {
    width: 95%;
  }
}
.slider-images .slider-images-wrapper .slider-images-wrapper-top {
  width: 100%;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-top .slide {
  display: none;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-top .activeslide {
  display: grid;
  grid-template-columns: 50% repeat(2, 1fr);
  gap: 0.5em;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-top .activeslide .slider-biggest-img {
  grid-row: span 2;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-top .activeslide img {
  border: 1px solid black;
  object-fit: cover;
  width: 100%;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-bottom {
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-bottom .icon-arrow {
  background-color: transparent;
  border: none;
  color: #0b2b6b;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-bottom .icon-arrow svg {
  cursor: pointer;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-bottom .next-arrow-rotate {
  transform: rotateZ(180deg);
}
.slider-images .slider-images-wrapper .slider-images-wrapper-bottom .slide-dot {
  height: 12px;
  width: 12px;
  margin: 0 1em;
  background-color: #0b2b6b;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
}
.slider-images .slider-images-wrapper .slider-images-wrapper-bottom .active {
  background-color: #0467c4;
}
@media screen and (max-width: 769px) {
  .slider-images .slider-images-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .slider-images .slider-images-wrapper .slider-biggest-img {
    grid-column: span 2;
  }
}
.main-content-section .main-content-wrapper {
  width: 80%;
  padding: 3em 0;
  margin: 0 auto;
}
.main-content-section .main-content-wrapper .main-content-text p {
  line-height: 1.5;
}
.main-content-section .main-content-wrapper .button-explore {
  background-color: #e31e3c;
  color: white;
  font-size: 1.3em;
  padding: 0.7em;
  border-radius: 5px;
  display: inline-block;
}
@media screen and (max-width: 1230px) {
  .main-content-section .main-content-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .main-content-section .main-content-wrapper {
    width: 95%;
  }
}
.info-section .info-wrapper {
  width: 80%;
  padding: 3em 0 1em 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  grid-gap: 0 1em;
}
.info-section .info-wrapper .info-field {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.info-section .info-wrapper .info-field:nth-of-type(odd) {
  background-color: #efefef;
}
.info-section .info-wrapper .info-field:nth-last-child(1) {
  grid-row: span 2;
  align-items: flex-start;
}
.info-section .info-wrapper .info-field:nth-last-child(1) div h3,
.info-section .info-wrapper .info-field:nth-last-child(1) div p {
  display: inline;
  line-height: 1.4;
}
.info-section .info-wrapper .info-field h3,
.info-section .info-wrapper .info-field p,
.info-section .info-wrapper .info-field svg {
  margin: 0;
  padding-right: 1em;
}
@media screen and (max-width: 1230px) {
  .info-section .info-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .info-section .info-wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 769px) {
  .info-section .info-wrapper {
    grid-template-columns: 100%;
    grid-auto-flow: initial;
  }
}
.support-play-section .support-play-wrapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 1em;
}
.support-play-section .support-play-wrapper .support-play-field {
  padding: 1em 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.support-play-section .support-play-wrapper .support-play-field .support-play-modes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.support-play-section .support-play-wrapper .support-play-field .support-play-modes-container .mode-box {
  text-align: center;
  flex: 1;
}
.support-play-section .support-play-wrapper .support-play-field .support-play-modes-container .mode-box img {
  width: 64px;
  height: 39px;
}
.support-play-section .support-play-wrapper .support-play-field .support-play-field-paragraph {
  font-size: 0.8em;
}
.support-play-section .support-play-wrapper .support-play-field .support-play-field-paragraph,
.support-play-section .support-play-wrapper .support-play-field .support-play-field-h3 {
  padding: 0 2em;
}
.support-play-section .support-play-wrapper .support-play-field .support-play-field-paragraph a,
.support-play-section .support-play-wrapper .support-play-field .support-play-field-h3 a {
  color: #e31e3c;
  text-decoration: underline;
}
@media screen and (max-width: 1230px) {
  .support-play-section .support-play-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .support-play-section .support-play-wrapper {
    width: 95%;
    grid-template-columns: 100%;
    grid-auto-flow: initial;
    grid-gap: 1em 0;
  }
}
.support-play-section .support-play-wrapper .esrb-rating-conainer {
  padding: 1em 2em;
  justify-content: flex-start;
}
.support-play-section .support-play-wrapper .esrb-rating-conainer .e10-container {
  width: 15em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 1em;
}
.support-play-section .support-play-wrapper .esrb-rating-conainer .e10-container img {
  grid-row: 1 / 3;
  width: 55px;
  margin: auto;
}
.support-play-section .support-play-wrapper .esrb-rating-conainer .e10-container p {
  font-size: 0.8em;
}
.support-play-section .support-play-wrapper .esrb-rating-conainer .e10-container p:nth-of-type(1) {
  border-bottom: 2px solid #434242;
  padding-bottom: 0.6em;
}
.support-play-section .support-play-wrapper .esrb-rating-conainer .e10-container p:nth-of-type(2) {
  margin-top: 0;
}
.online-section {
  margin: 1em 0;
}
.online-section .online-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #efefef;
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}
.online-section .online-wrapper > * {
  padding: 1em;
}
.online-section .online-wrapper img {
  max-width: 207px;
  flex: auto;
}
.online-section .online-wrapper div {
  grid-column: span 2;
}
.online-section .online-wrapper .learn-more {
  font-size: 1.5em;
}
.online-section .online-wrapper .button-game-support {
  background-color: #e31e3c;
  color: white;
  font-size: 1.3em;
  border-radius: 5px;
  padding: 0.7em;
  font-size: 1em;
}
@media screen and (max-width: 1230px) {
  .online-section .online-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .online-section .online-wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 769px) {
  .online-section .online-wrapper {
    grid-template-columns: 100%;
  }
  .online-section .online-wrapper div {
    grid-column: auto;
    margin-bottom: 1em;
  }
  .online-section .online-wrapper .learn-more {
    font-size: 1em;
  }
  .online-section .online-wrapper > * {
    padding: 0.5em 1em;
  }
}
.online-membership-text-section .online-membership-text-wrapper {
  width: 80%;
  padding: 5em 0;
  margin: 0 auto;
  border-bottom: 1px solid #dadada;
}
.online-membership-text-section .online-membership-text-wrapper p {
  font-size: 0.7em;
}
.online-membership-text-section .online-membership-text-wrapper a {
  color: #e31e3c;
  text-decoration: underline;
}
@media screen and (max-width: 1230px) {
  .online-membership-text-section .online-membership-text-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .online-membership-text-section .online-membership-text-wrapper {
    width: 95%;
  }
}
.recently-viewed-section .recently-viewed-wrapper {
  width: 80%;
  padding: 3em 0;
  margin: 0 auto;
}
.recently-viewed-section .recently-viewed-wrapper .recently-viewed-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.recently-viewed-section .recently-viewed-wrapper .recently-viewed-container .recently-viewed-item {
  width: 230px;
  padding: 1em;
}
.recently-viewed-section .recently-viewed-wrapper .recently-viewed-container .recently-viewed-item img {
  width: inherit;
  border-radius: 5px;
}
.recently-viewed-section .recently-viewed-wrapper .recently-viewed-container .recently-viewed-item h3 {
  margin-bottom: 0;
}
@media screen and (max-width: 769px) {
  .recently-viewed-section .recently-viewed-wrapper .recently-viewed-container .recently-viewed-item {
    width: 130px;
  }
}
@media screen and (max-width: 1230px) {
  .recently-viewed-section .recently-viewed-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .recently-viewed-section .recently-viewed-wrapper {
    width: 95%;
  }
}
.footer-top-section {
  background-color: #efefef;
}
.footer-top-section .footer-top-wrapper {
  width: 80%;
  padding: 2em 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-top-section .footer-top-wrapper .footer-top-item .footer-top-item-header {
  font-weight: bold;
}
.footer-top-section .footer-top-wrapper .footer-top-item ul {
  margin-top: 0.5em;
  list-style: none;
  padding: 0;
}
.footer-top-section .footer-top-wrapper .footer-top-item ul li {
  line-height: 2;
  font-size: 0.8em;
  color: #484848;
}
.footer-top-section .footer-top-wrapper .change-region {
  flex-basis: 100%;
}
@media screen and (max-width: 1230px) {
  .footer-top-section .footer-top-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .footer-top-section .footer-top-wrapper {
    width: 95%;
  }
}
.footer-top-section-sm {
  display: none;
  background-color: #efefef;
}
.footer-top-section-sm .footer-top-wrapper-sm {
  width: 100%;
}
.footer-top-section-sm .footer-top-wrapper-sm .footer-top-item-sm h2 {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 1em;
  margin: 0;
  color: #1660a0;
  cursor: pointer;
}
.footer-top-section-sm .footer-top-wrapper-sm .footer-top-item-sm h2 i {
  float: right;
}
.footer-top-section-sm .footer-top-wrapper-sm .footer-top-item-sm ul {
  display: none;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 1em 2em;
  background-color: #ffffff;
}
.footer-top-section-sm .footer-top-wrapper-sm .footer-top-item-sm ul li {
  line-height: 1.8;
  font-size: 1.2em;
  font-weight: 300;
}
.footer-top-section-sm .footer-top-wrapper-sm .footer-top-item-sm ul li a {
  color: #484848b4;
}
.footer-bottom {
  background-color: #434242;
}
.footer-bottom .footer-bottom-wrapper {
  width: 80%;
  padding: 1.5em 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top {
  width: 350px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5em 2em;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-text1 a {
  color: #dadada;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-links-box {
  grid-row: 2 / 3;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-links-box .footer-bottom-links {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-links-box a:nth-child(1) {
  background-color: #1878f2;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-links-box a:nth-child(2) {
  background-color: #d32c69;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-links-box a:nth-child(3) {
  background-color: #1da1f2;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-links-box a:nth-child(4) {
  background-color: #ff0200;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-top .footer-bottom-privacy-certified {
  grid-row: span 2;
  align-self: end;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-bottom {
  padding-top: 1em;
}
.footer-bottom .footer-bottom-wrapper .footer-bottom-container-bottom p {
  font-size: 0.7em;
  text-align: center;
  color: #dadada;
  line-height: 0.8;
}
@media screen and (max-width: 825px) {
  .footer-top-section {
    display: none;
  }
  .footer-top-section-sm {
    display: block;
  }
}
@media screen and (max-width: 1230px) {
  .resize-width-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .resize-width-wrapper {
    width: 95%;
  }
}
.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.red-button {
  background-color: #e31e3c;
  color: white;
  font-size: 1.3em;
  padding: 0.7em;
  border-radius: 5px;
}
.nintendo-switch-box p {
  border-bottom: 3px solid #e31e3c;
  padding-bottom: 0.3em;
  display: inline-block;
  font-size: 0.9em;
}
.usa-flag {
  background-image: url(' ../images/usa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 23px;
}
