body {
	background-color: #fcf9ee;
	font-family: Favorit, sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
header {
	position: fixed;
	padding: 3vw;
	z-index: 100;
	width: calc(100% - 6vw);
	.header-container {
		.flex-parent(@direction:row,@justify-content:space-between,@align-items: flex-start);
		.header-left {
			height: 10em;
			width: 4em;
			.header-left-bg {
				background-image: url('../images/nav-left2.svg');
				background-position: 50% 50%;
				background-size: auto;
				background-repeat: no-repeat;
				height: 100%;
			}
		}
		.header-center {
			font-family: 'Kaushan Script', cursive;
			letter-spacing: -0.1em;
			.header-center-bg {
				background-image: url("../images/nav-center-bg.svg");
				background-position: 50% 50%;
				background-size: auto;
				background-repeat: no-repeat;
			}
		}
	}
	@media screen and (max-width: 990px) {
		padding: 5vw;
		width: calc(100% - 10vw);
		.header-container {
			align-items: center;
			.header-left {
				height: 3em;
				width: 8em;
				.header-left-bg {
					background-image: url('../images/nav-left.svg');
				}
			}
		}
	}
}
.side-list {
	.flex-parent(@align-items: flex-start);
	position: fixed;
	bottom: 0;
	padding: 2vw;
	a {
		color: rgb(19, 18, 18);
		text-decoration: none;
		line-height: 1.7;
		font-weight: 600;
	}
	@media screen and (max-width: 990px) {
		display: none;
	}
}
.main {
	.flex-parent(@align-items:flex-end);
}
.spring-summer {
	width: 80%;
	padding: 8vw 8vw 0 0;
	margin-top: 3em;
	text-align: right;
	h1 {
		margin: 0;
		font-size: 14vw;
		line-height: calc(0.5em + 10px);
		letter-spacing: -0.1em;
	}
	div {
		.flex-parent(@direction:row,@justify-content: flex-end);

		h3 {
			font-size: calc(1rem + 4vw);
			font-weight: lighter;
			font-style: italic;
			padding-left: 1vw;
			margin-bottom: 10px;
			line-height: 0.8em;
			font-family: 'Caveat Brush', cursive;
			span {
				display: block;
				text-align: center;
			}
		}
	}
	@media screen and (max-width: 990px) {
		h1 {
			line-height: 5vw;
		}
	}
}
.spring-summer-images-section {
	.flex-parent(@align-items:flex-end);
	width: 80%;
	padding-right: 8vw;
	position: relative;
	.spring-summer-images-section-img {
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 52%;
		transform: translate(-50%, -50%);
		width: 14vw;
		mix-blend-mode: multiply;
	}
	.spring-summer-images-section-top {
		.flex-parent(@direction:row,@justify-content: flex-end);
		img {
			width: 40%;
			border: 3px solid black;
		}
		img:nth-of-type(1) {
			margin-right: 1em;
		}
	}
	.spring-summer-images-section-mid {
		font-size: 0.8rem;
		padding-top: 0.6em;
		width: calc(80% + 8px + 16px);
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(4, 1fr);
	}
}
.arrow-circle-section {
	.flex-parent(@align-items:flex-end);
	width: 80%;
	padding-right: 8vw;
	.arrow-circle-container {
		position: relative;
		width: 100%;
		margin-top: 3em;
		height: 5vw;
		.flex-parent(@direction:row,@justify-content: flex-end);
		a {
			color: black;
			text-decoration: none;
			font-weight: bold;
			margin-right: 1.5em;
			font-size: 1.5vw;
		}
		.circle-arrow {
			position: relative;
			height: inherit;
			.circle {
				position: absolute;
				right: 0;
				top: 0;
				width: 5vw;
				max-width: 5vw;
			}
			.arrow {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 3vw;
				max-width: 3vw;
			}
		}
	}
}
.moving-bar {
	width: 100%;
	padding: 5em 0;
	.moving-bar-container {
		overflow: hidden;
		width: inherit;
		height: 5vw;
		border: 3px black;
		border-style: solid none;
		background-color: #ddc92a;
		.moving-bar-animation-container {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			height: inherit;
			div {
				flex-shrink: 0;
				width: 40vw;
				h1 {
					font-weight: 400;
					letter-spacing: -.06em;
					font-size: 2.5vw;
				}
			}
		}
		@media screen and (max-width: 990px) {
			border: 1px black;
			border-style: solid none;
		}
	}
	@media screen and (max-width: 767px) {
		padding: 4em 0 0 0;
	}
}
.who-we-are {
	.flex-parent(@align-items:flex-end);
	width: 80%;
	padding: 7vw 8vw 7vw 0;
	.who-we-are-container {
		width: 83%;
		p {
			font-size: calc(1rem + 3vw);
			line-height: calc(0.5em + 2vw);
			text-transform: none;
			span {
				font-size: calc(0.5rem + 1vw);
				text-decoration: underline;
				vertical-align: top;
				line-height: 1;
				text-transform: uppercase;
				padding-right: 5vw;
			}
			a {
				color: black;
			}
		}
	}
	@media screen and (max-width: 767px) {
		width: 90%;
		.who-we-are-container p {
			font-size: 4vw;
		}
	}
}
.shoes-slide {
	position: relative;
	width: 100%;
	height: 46vw;
	overflow: hidden;
	@media screen and (max-width: 767px) {
		height: 50vw;
	}
	.shoes-slide-inner {
		position: absolute;
		width: 160%;
		padding-left: 26vw;
		.flex-parent(@direction:row,@justify-content: space-between);
		pointer-events: none;
		@media screen and (max-width: 767px) {
			padding-left: 17vw;
		}
	}
	.shoes-slide-box {
		background-color: #e7d6c4;
		border: 2px solid black;
		width: 29vw;
		height: 45vw;
		@media screen and (max-width: 767px) {
			height: 49vw;
		}
		.flex-parent(@justify-content: flex-start);
		.shoes-slide-box-shoe-img {
			width: inherit;
			height: 20vw;
			object-fit: cover;
		}
		.shoes-slide-box-unisex-img {
			width: 10vw;
		}
		p {
			margin: 0;
		}
		.the-eye {
			font-size: calc(1rem + 7vw);
			font-family: 'Bebas Neue', cursive;
			letter-spacing: -0.04em;
			line-height: 1;
		}
		.price {
			font-size: calc(1rem + 1.5vw);
			line-height: 4vw;
			letter-spacing: -.1em;
		}
		.line-through {
			text-decoration: line-through;
		}
		@media screen and (max-width: 767px) {
			border: 1px solid black;
			.the-eye {
				font-size: 9vw;
			}
			.price {
				font-size: 4vw;
			}
		}
	}
}
.names-section {
	width: 80%;
	max-width: 100%;
	padding: 8vw 8vw 8vw 0;
	@media screen and (min-width: 990px) {
		width: 50%;
	}
	.names-container {
		.flex-parent(@direction:row,@align-items:start );
		.names-container-left {
			position: relative;
			flex: 1 1 50%;
			img {
				position: absolute;
				width: 10vw;
			}
			.names-container-left-names h3 {
				font-size: calc(1rem + 1vw);
				font-family: 'Kaushan Script', cursive;
				position: absolute;
				top: -50%;
				left: 0.7em;
				width: 100%;
				@media screen and (max-width: 767px) {
					font-size: 2.8vw;
				}
			}
		}
		.names-container-right {
			flex: 1 1 50%;
			p {
				font-size: calc(0.5rem + 1vw);
				text-transform: none;
				@media screen and (max-width: 767px) {
					font-size: 2vw;
				}
			}
		}
	}
	.show {
		display: block;
		overflow: hidden;
		transition: transform 0.3s ease-out;
		height: auto;
		transform: scaleY(1);
		transform-origin: top;
	}
	.collapsed {
		transform: scaleY(0);
	}
}
footer {
	width: 100%;
	padding-bottom: 7vw;
	padding-top: 17vw;
	.flex-parent();
	.footer-container {
		width: 90%;
		.flex-parent(@direction:row,@justify-content:space-between,@align-items: flex-start);
		h5 {
			margin: 0 0 1vw 0;
			font-size: 2vw;
			@media screen and (min-width: 990px) {
				font-size: 1vw;
			}
		}
		.footer-top-subscribe {
			img {
				width: 5vw;
			}
			flex-grow: 2;
		}
		.footer-bottom-email {
			input {
				border-style: none none solid;
				border-color: #141414;
				background-color: transparent;
				color: #141414;
				font-size: 2vw;
				width: 25vw;
				line-height: 4vw;
			}
			button {
				border: none;
				background-color: transparent;
				position: relative;
				bottom: 0;
				right: 5.2vw;
				font-size: 2vw;
				@media screen and (min-width: 990px) {
					font-size: 1vw;
				}
			}
		}
		.footer-top-info,
		.footer-top-policy {
			.flex-parent(@align-items:flex-start,@justify-content: flex-start);
			flex-grow: 1;
			a {
				color: rgba(0, 0, 0, 0.76);
				text-decoration: none;
				font-size: 2vw;
				font-weight: bold;
				letter-spacing: -.04em;
			}
		}
		.footer-top-arrow {
			img {
				position: absolute;
				right: 0;
				top: 0;
				width: 4vw;
				transform: rotate(-90deg);
			}
		}
		.footer-bottom-social-apps {
			img {
				width: 2vw;
			}
		}
		.footer-lower-text {
			font-size: 1.2vw;
		}
		.footer-item {
			position: relative;
			.flex-parent(@align-items:flex-start);
			div {
				height: 15vw;
			}
		}
	}
}
.moving-bar-animation {
	animation-name: movingBar;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
@keyframes movingBar {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-50%);
	}
}
.center-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.flex-parent(@direction:column,@justify-content:center,@align-items:center,@flex-wrap:nowrap) {
	display: flex;
	flex-direction: @direction;
	justify-content: @justify-content;
	align-items: @align-items;
	flex-wrap: @flex-wrap;
}
