body {
	background-color: #fcf9ee;
	font-family: Favorit, sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
header {
	.flex-parent(@direction:row,@justify-content:space-between);
}
.main {
	.flex-parent(@align-items:flex-end);
}
.spring-summer {
	width: 80%;
	padding: 8vw 8vw 0 0;
	text-align: right;
	h1 {
		margin: 0;
		font-size: calc(1rem + 12vw);
		line-height: calc(0.8em + 10px);
		letter-spacing: -0.1em;
	}
	div {
		.flex-parent(@direction:row,@justify-content: flex-end);
		h3 {
			font-size: calc(1rem + 4vw);
			font-weight: lighter;
			font-style: italic;
			padding-left: 1vw;
			margin-bottom: 10px;
			line-height: 0.8em;
			font-family: 'Caveat Brush', cursive;
			span {
				display: block;
				text-align: center;
			}
		}
	}
}
.explore-section {
	.flex-parent(@align-items:flex-end);
	width: 80%;
	padding-right: 8vw;

	.explore-section-top {
		.flex-parent(@direction:row,@justify-content: flex-end);
		img {
			width: 40%;
			border: 2px solid black;
		}
		img:nth-of-type(1) {
			margin-right: 1em;
		}
	}
	.explore-section-mid {
		font-size: 0.8rem;
		padding-top: 0.6em;
		width: calc(80% + 8px + 16px);
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(4, 1fr);
	}
}
.moving-bar {
	width: 100%;
	padding: 5em 0;
	.moving-bar-container {
		overflow: hidden;
		width: inherit;
		height: 5vw;
		border: 2px black;
		border-style: solid none;
		background-color: #ddc92a;
		.moving-bar-animation-container {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			height: inherit;
			div {
				flex-shrink: 0;
				width: 378px;
				h1 {
					font-weight: 400;
					letter-spacing: -.06em;
				}
			}
		}
	}
}
.who-we-are {
	.flex-parent(@align-items:flex-end);
	width: 80%;
	padding: 7vw 8vw 7vw 0;
	.who-we-are-container {
		p {
			font-size: calc(1rem + 3vw);
			line-height: calc(0.7em + 8px);
			text-transform: none;
			span {
				font-size: 0.5em;
				text-decoration: underline;
				vertical-align: top;
				line-height: 1;
				text-transform: uppercase;
				padding-right: 5vw;
			}
			a {
				color: black;
			}
		}
	}
}
.shoes-slide {
	position: relative;
	width: 100%;
	height: 45vw;
	overflow: hidden;
	.shoes-slide-inner {
		position: absolute;
		width: 160%;
		padding-left: 12vw;
		.flex-parent(@direction:row,@justify-content: space-between);
		pointer-events: none;
	}
	.shoes-slide-box {
		background-color: #e7d6c4;
		border: 1px solid black;
		width: 29vw;
		height: 45vw;
		.flex-parent(@justify-content: flex-start);
		.shoes-slide-box-shoe-img {
			width: inherit;
			height: 20vw;
			object-fit: cover;
		}
		.shoes-slide-box-unisex-img {
			width: 10vw;
		}
		p {
			margin: 0;
		}
		.the-eye {
			font-size: calc(1rem + 7vw);
			font-family: 'Bebas Neue', cursive;
			letter-spacing: -0.04em;
			line-height: 1;
		}
		.price {
			font-size: calc(1rem + 1.5vw);
			line-height: 4vw;
			letter-spacing: -.1em;
		}
		.line-through {
			text-decoration: line-through;
		}
	}
}
.shop-all-section {
	.flex-parent(@align-items:flex-end);
	width: 80%;
	padding-right: 8vw;
}
.names-section {
	width: 80%;
	max-width: 100%;
	padding: 8vw 8vw 8vw 0;
	.names-container {
		.flex-parent(@direction:row,@align-items:start );
		.names-container-left {
			position: relative;
			flex: 1 1 45%;
			img {
				position: absolute;
				width: 10vw;
			}
			.names-container-left-names {
				font-size: calc(1rem + 1vw);
				font-family: 'Kaushan Script', cursive;
				position: absolute;
				top: -50%;
				left: 1em;
			}
		}
		.names-container-right {
			flex: 1 1 60%;
			p {
				text-transform: none;
			}
		}
	}
}
footer {
	width: 100%;
	padding-bottom: 7vw;
	.flex-parent();
	.footer-container {
		width: 90%;
		.flex-parent(@direction:row,@justify-content:space-between,@align-items: flex-start);
		h5 {
			margin: 0 0 1vw 0;
		}
		.footer-top-subscribe {
			img {
				width: 5vw;
			}
			flex-grow: 2;
		}
		.footer-bottom-email {
			input {
				border-style: none none solid;
				border-color: #141414;
				background-color: transparent;
				color: #141414;
				font-size: 1em;
				width: 25vw;
				line-height: 4vw;
			}
			button {
				border: none;
				background-color: transparent;
				position: relative;
				bottom: 0;
				right: 5.2vw;
			}
		}
		.footer-top-info,
		.footer-top-policy {
			.flex-parent(@align-items:flex-start);
			flex-grow: 1;
			a {
				color: rgba(0, 0, 0, 0.76);
				text-decoration: none;
				font-size: 2vw;
				font-weight: bold;
				letter-spacing: -.04em;
			}
		}
		.footer-top-arrow {
			img {
				position: absolute;
				right: 0;
				top: 0;
				width: 60px;
				transform: rotate(-90deg);
			}
		}
		.footer-bottom-social-apps {
			align-self: end;
			img {
				width: 16px;
			}
		}
		.footer-lower-text {
			font-size: 1.2vw;
		}
		.footer-item {
			position: relative;
			.flex-parent(@align-items:flex-start);
			div {
				margin-bottom: 5em;
			}
		}
	}
}
.arrow-circle-container {
	position: relative;
	width: 100%;
	margin-top: 3em;
	height: 60px;
	.flex-parent(@direction:row,@justify-content: flex-end);
	a {
		color: black;
		text-decoration: none;
		font-weight: bold;
		margin-right: 2em;
	}
	.circle-arrow {
		img {
			position: absolute;
			right: 0;
			top: 0;
			width: 60px;
		}
	}
}
.moving-bar-animation {
	animation-name: movingBar;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
@keyframes movingBar {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-50%);
	}
}
.center-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.flex-parent(@direction:column,@justify-content:center,@align-items:center,@flex-wrap:nowrap) {
	display: flex;
	flex-direction: @direction;
	justify-content: @justify-content;
	align-items: @align-items;
	flex-wrap: @flex-wrap;
}
