body {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: sans-serif;
  min-height: 100vh;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  left: 1em;
  padding-top: 23px;
}
header .header-logo {
  width: 250px;
}
@media screen and (max-width: 990px) {
  header {
    display: none;
  }
}
.container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}
.container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.container section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container section img {
  width: 400px;
  height: 500px;
}
.container section p:nth-of-type(1) {
  color: black;
  font-size: 1.2rem;
}
.container section .buy-link {
  text-transform: uppercase;
}
.container section a {
  color: white;
}
.container section a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 990px) {
  footer {
    margin-top: auto;
  }
}
footer .footer-email {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 2em;
  margin: 0;
  padding-top: 23px;
}
footer .footer-email a {
  color: black;
}
footer .footer-navigation-links {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 2em;
  margin: 0;
  padding-bottom: 23px;
  list-style: none;
}
footer .footer-navigation-links li a {
  color: black;
  line-height: 1.6;
}
footer .foooter-div-container {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 2em;
  padding-bottom: 23px;
  width: 20%;
}
@media screen and (max-width: 990px) {
  footer .foooter-div-container {
    position: static;
    top: 0;
  }
}
footer .foooter-div-container p {
  line-height: 1.4;
  margin-bottom: 0;
}
footer .foooter-div-container span {
  display: block;
  font-size: 0.7rem;
  font-weight: lighter;
}
footer .foooter-div-container a {
  color: black;
  text-decoration: underline;
}
footer .foooter-div-container > a {
  display: block;
  margin-top: 20px;
}
section:nth-of-type(1) {
  background-color: #00c1b5;
}
section:nth-of-type(2) {
  background-color: #ff651a;
}
section:nth-of-type(3) {
  background-color: #ffbe00;
}
section:nth-of-type(4) {
  background-color: #1d3fbb;
}
section:nth-of-type(5) {
  background-color: #e30512;
}
