body {
  font-family: Tahoma;
  margin: 0;
}
body > * {
  padding: 0 2em;
}
a {
  text-decoration: none;
}
.nav-lg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  text-transform: uppercase;
}
.nav-lg img {
  width: 39px;
  height: 100px;
}
.nav-lg ul {
  margin: 0;
  list-style: none;
}
.nav-lg ul li {
  display: inline;
}
.nav-lg ul li:not(:last-child) {
  margin-right: 40px;
}
.nav-lg div a:nth-of-type(1) {
  padding-right: 20px;
  color: #000000;
}
.nav-lg div a:nth-of-type(2) {
  padding: 15px 50px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
}
.nav-sm {
  display: none;
  height: 70px;
  margin: 0;
}
.nav-sm img {
  width: 32px;
  height: 48px;
}
.nav-sm ul {
  margin: 0;
  list-style: none;
}
.nav-sm a {
  font-size: 1.4rem;
  color: black;
}
.nav-sm a:nth-of-type(1) {
  padding-right: 20px;
}
.nav-toggled-menue {
  display: none;
  border-top: 2px solid black;
  padding: 25px 32px;
}
.nav-toggled-menue ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2.3rem;
  font-weight: 600;
}
.nav-toggled-menue ul li {
  line-height: 50px;
}
.nav-toggled-menue img {
  position: absolute;
  width: 20%;
  bottom: 30%;
  right: 10%;
}
.nav-toggled-menue .links {
  margin-top: 30px;
  font-size: 2rem;
}
.nav-toggled-menue .links li {
  display: inline-block;
}
.nav-toggled-menue .links li a {
  color: black;
}
.nav-toggled-menue .login-button {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
  display: block;
  padding: 15px 0;
  margin-top: 30px;
}
.nav-toggled-menue .make-record-button {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
  display: block;
  padding: 15px 0;
  margin-top: 10px;
  color: #ffffff;
  background-color: #000000;
}
.nav-sm-content-show {
  display: block;
}
.first-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.first-container .first-container-left {
  flex: 1 1 40%;
  position: relative;
}
.first-container .first-container-left div {
  width: 80%;
}
.first-container .first-container-left div a {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.first-container .first-container-left div h1 {
  font-size: 60px;
}
.first-container .first-container-left div p {
  font-size: 27px;
}
.first-container .first-container-left div p i {
  font-size: 16px;
}
.first-container .first-container-right {
  width: 60%;
}
.first-container .first-container-right img {
  border: 1px solid black;
  width: 100%;
  height: 85vw;
  transform: rotate(5deg);
}
.second-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #000000;
}
.second-container .second-container-left {
  flex: 1 1 60%;
  position: relative;
  height: 70vw;
}
.second-container .second-container-left img {
  border: 1px solid black;
  width: 100%;
  transform: rotate(-5deg);
  position: absolute;
  left: 12%;
  bottom: 50px;
}
.second-container .second-container-right {
  width: 40%;
  height: 20vw;
}
.second-container .second-container-right div {
  width: 18vw;
  height: 20vw;
  margin: 0 auto;
  background-image: url('../images/paid_to_artists.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.midpage-text-container-lg {
  height: 200px;
  position: relative;
}
.midpage-text-container-lg p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.midpage-text-container-sm {
  display: none;
  height: 200px;
  position: relative;
  text-align: center;
}
.midpage-text-container-sm h1 {
  font-size: 35px;
}
.midpage-text-container-sm p {
  font-size: 18px;
}
.midpage-text-container-sm p i {
  font-size: 10px;
}
.third-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  border-top: 2px solid #000000;
  padding: 0;
  margin: 0;
  width: 100%;
}
.third-container > div {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px;
  text-align: center;
}
.third-container > div a:nth-of-type(1) {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.third-container > div h1 {
  font-size: 40px;
}
.third-container > div p {
  font-size: 20px;
}
.third-container > div a.learn-more-sm {
  display: none;
  padding: 15px 50px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
}
.third-container > div .third-container-image-link-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}
.third-container > div .third-container-image-link-box a.learn-more-lg {
  display: black;
  padding: 15px 50px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
}
.third-container > div .third-container-image-link-box .third-container-img {
  width: 100%;
  height: 30vw;
  margin: 0 auto;
  margin-bottom: 50px;
}
.third-container > div .third-container-image-link-box .third-container-img img {
  max-width: 100%;
  max-height: 100%;
}
.third-container .third-container-left {
  background-color: #fff804;
}
.third-container .third-container-right {
  background-color: #81836c;
}
.start-press-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #000000;
  padding: 0 10em;
  color: #ffffff;
}
.start-press-container .start-press-container-left {
  flex: 1;
  font-size: 1.3rem;
}
.start-press-container .start-press-container-right a {
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}
.services-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 100px 0;
}
.services-container div {
  flex: 1 1 0;
}
.services-container .services-container-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}
.services-container .services-container-left a:nth-of-type(1) {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.services-container .services-container-left h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 2px black;
}
.services-container .services-container-left p {
  font-size: 20px;
}
.services-container .services-container-left .services-container-img {
  width: 60%;
  margin: 0 auto;
}
.services-container .services-container-left .services-container-img img {
  width: 100%;
  transform: rotate(-4deg);
  border: 2px solid black;
  margin-bottom: 30px;
}
.services-container .services-container-left a:nth-of-type(2) {
  padding: 15px 70px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid black;
}
.services-container .services-container-right > div {
  max-width: 95%;
  border: 2px solid black;
}
.services-container .services-container-right > div ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  width: calc(100% + 2px);
}
.services-container .services-container-right > div ul li:first-child {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 15px 15px 50px 15px;
  cursor: none;
}
.services-container .services-container-right > div ul li {
  border-top: 2px solid black;
  padding: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}
.services-container .services-container-right > div ul .panel {
  padding: 0 18px 10px 18px;
  display: none;
  overflow: hidden;
}
.services-container .services-container-right > div ul .panel a {
  text-transform: uppercase;
  text-decoration: underline;
  color: blaCk;
}
.partners-help-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  border-top: 2px solid #000000;
  padding: 0;
  margin: 0;
  width: 100%;
}
.partners-help-container > div {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.partners-help-container > div a {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin-top: 100px;
}
.partners-help-container > div h1 {
  font-size: 40px;
  margin: 15px 0;
}
.partners-help-container > div p {
  font-size: 20px;
}
.partners-help-container .partners-help-container-img {
  width: 100%;
  height: 400px;
  border: 2px solid black;
}
.partners-help-container .partners-help-container-left {
  background-color: #000000;
  color: #ffffff;
}
.partners-help-container .partners-help-container-left .partners-help-container-img {
  background-image: url("../images/partners.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-size: contain;
}
.partners-help-container .partners-help-container-right {
  background-color: #e280ff;
}
.partners-help-container .partners-help-container-right .partners-help-container-img {
  background-image: url("../images/customer-support.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.join-commuinity-container {
  padding: 60px 0;
}
.join-commuinity-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-width: 440px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.join-commuinity-container div a {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.join-commuinity-container div a:nth-of-type(2) {
  border-radius: 50px;
  padding: 15px 50px;
}
.join-commuinity-container div h1 {
  font-size: 35px;
  margin: 15px 0;
}
.join-commuinity-container div p {
  font-size: 20px;
}
.gallery-container {
  display: grid;
  grid-gap: 0;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}
.gallery-container > div {
  max-height: 25vw;
  width: 100%;
}
.gallery-container > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid black;
}
.gallery-container div:nth-of-type(1) {
  max-height: 100vw;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.gallery-container div:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.gallery-container div:nth-of-type(3) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.gallery-container div:nth-of-type(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.gallery-container div:nth-of-type(5) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.moving-list-container {
  height: 150px;
  padding: 0;
  width: auto;
}
.moving-list-container ul.moving-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.moving-list-container ul.moving-list li {
  text-transform: uppercase;
}
.moving-list-container ul.moving-list li a {
  text-decoration: underline;
}
#slide-1 .artists-on-qrates-left {
  background-color: #fff804;
}
#slide-1 .third-container-img {
  background-image: url('../images/artist.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#slide-2 {
  display: none;
}
#slide-2 .artists-on-qrates-left {
  background-color: #ff6711;
}
#slide-2 .third-container-img {
  background-image: url('../images/artist2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.artists-on-qrates-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.artists-on-qrates-container > div {
  flex: 1 1 0;
  border: 2px solid black;
}
.artists-on-qrates-container .artists-on-qrates-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 27px;
}
.artists-on-qrates-container .artists-on-qrates-left > a {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.artists-on-qrates-container .artists-on-qrates-left p:nth-of-type(1) {
  font-size: 30px;
}
.artists-on-qrates-container .artists-on-qrates-left p:nth-of-type(2) {
  font-size: 20px;
}
.artists-on-qrates-container .artists-on-qrates-left p:nth-of-type(2) a {
  color: black;
  text-decoration: underline;
}
.artists-on-qrates-container .artists-on-qrates-left button {
  background-color: transparent;
  color: #000000;
  border: 2px solid black;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  cursor: pointer;
}
.artists-on-qrates-container .artists-on-qrates-left .active {
  background-color: #000000;
  color: #ffffff;
}
.artists-on-qrates-container .artists-on-qrates-right {
  position: relative;
}
.artists-on-qrates-container .artists-on-qrates-right .third-container-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.make-it-real-container {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
.make-it-real-container .make-it-real-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
}
.make-it-real-container .make-it-real-content a:nth-of-type(1) {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid white;
  margin-bottom: 25px;
}
.make-it-real-container .make-it-real-content h1 {
  font-size: 35px;
  margin: 15px 0;
}
.make-it-real-container .make-it-real-content p {
  font-size: 20px;
  max-width: 727px;
  margin-bottom: 4em;
}
.make-it-real-container .make-it-real-content a:nth-of-type(2) {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  background-color: #fff804;
  padding: 1.5em 8em;
  border-radius: 50px;
  margin-top: 50px;
  font-weight: bold;
}
.make-it-real-container .make-it-real-img-container {
  width: calc(100% - 7em);
  height: 33vw;
  max-width: 727px;
  max-height: 418px;
}
.make-it-real-container .make-it-real-img-container .make-it-real-img {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link-white {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.link-black {
  padding: 15px 50px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
}
.nav-toggled-menue-large-link {
  padding: 5px;
  font-size: 17px;
  border: 3px solid black;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
  display: block;
  padding: 15px 0;
}
@media screen and (max-width: 990px) {
  .nav-lg {
    display: none;
  }
  .nav-sm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .first-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .first-container .first-container-right {
    width: 70%;
    margin-top: 30px;
    align-self: flex-end;
  }
  .second-container {
    border: none;
  }
  .second-container .second-container-left {
    flex: 1 1 70%;
    align-self: flex-start;
  }
  .second-container .second-container-left img {
    left: -30px;
  }
  .midpage-text-container-lg {
    display: none;
  }
  .midpage-text-container-sm {
    display: block;
    height: 150px;
  }
  .third-container {
    flex-direction: column;
  }
  .third-container > div .third-container-image-link-box {
    order: -1;
  }
  .third-container > div .third-container-image-link-box .third-container-img {
    height: auto;
    margin-bottom: 25px;
  }
  .third-container > div .third-container-image-link-box .learn-more-lg {
    display: none;
  }
  .third-container > div h1 {
    margin: 15px 0;
  }
  .third-container > div a.learn-more-sm {
    display: block;
    padding: 15px 100px;
    text-transform: uppercase;
  }
  .start-press-container {
    flex-direction: column;
    height: auto;
    padding: 3em 6em;
    text-align: center;
  }
  .start-press-container .start-press-container-left {
    font-size: 1.1rem;
  }
  .start-press-container .start-press-container-left p {
    margin-top: 0;
  }
  .services-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .services-container .services-container-left .services-container-img {
    order: 1;
    margin-top: 50px;
  }
  .services-container .services-container-left p {
    margin-top: 0;
  }
  .services-container .services-container-right {
    width: 90%;
  }
  .partners-help-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .partners-help-container > div a {
    margin-top: 50px;
  }
  .partners-help-container .partners-help-container-img {
    height: 250px;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-container > div {
    max-height: 50vw;
  }
  .gallery-container div:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gallery-container div:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .gallery-container div:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .gallery-container div:nth-of-type(4) {
    display: none;
  }
  .gallery-container div:nth-of-type(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .artists-on-qrates-container {
    flex-direction: column;
  }
  .artists-on-qrates-container .artists-on-qrates-left {
    order: 2;
  }
}
@media screen and (max-width: 769px) {
  .first-container .first-container-left div {
    width: 100%;
  }
  .first-container .first-container-left div h1 {
    font-size: 38px;
  }
  .first-container .first-container-left div p {
    font-size: 22px;
  }
  .join-commuinity-container div a:nth-of-type(2) {
    padding: 5px 0;
    width: 100%;
  }
  .make-it-real-container .make-it-real-content a:nth-of-type(2) {
    width: 100%;
    padding: 1em 0;
    font-weight: normal;
    font-size: 14px;
  }
}
