body {
	margin: 0;
}
#wrapper {
	font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 600;
}
a:hover {
	text-decoration: none;
}
.navs {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	margin: 0 auto;
}
.main {
	padding-top: 99px;
}
.nav-top {
	padding: 0 3em;
	height: 6em;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}
.nav-top-left,
.nav-top-right {
	display: flex;
}
.nav-top-left a,
.nav-top-right a {
	text-decoration: none;
	color: #000000;
}
.nav-top-left a:hover,
.nav-top-right a:hover {
	color: #008248;
}
.logo {
	display: flex;
	align-items: center;
	margin-right: 2em;
}
.block {
	width: 51px;
	height: 51px;
}
.nav-top-left a:not(.logo) {
	margin-right: 2.6em;
	padding: 3.3em 0;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 0.8em;
}
.nav-top-right a {
	margin-right: 2em;
}
.nav-top-right {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-top-right > * {
	margin-left: 1.2em;
}
.nav-top-right button {
	padding: 0.7em 1.2em;
	border-radius: 50px;
}
.nav-top-right i {
	padding-right: 7px;
}
.nav-top-right button:nth-of-type(1) {
	background-color: #ffffff;
	border-color: #000000;
}
.nav-top-right button:nth-of-type(2) {
	background-color: #000000;
	color: white;
	border-color: #000000;
}
.nav-top-right button:nth-of-type(1):hover {
	background-color: #0000000f;
}
.nav-top-right button:nth-of-type(2):hover {
	background-color: #000000b3;
}
.nav-top-right button:focus {
	outline: none;
}
.nav-bottom {
	background-color: #1e3932;
	box-shadow: 2px 2px 10px 0px rgb(2 2 2 / 32%);
	color: white;
	padding: 0 3em;
	height: 50px;
	display: flex;
	align-items: center;
}
.nav-bottom p {
	margin: 0;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 700;
}
.hero-img {
	background-image: url("./images/star-bg.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	margin-top: 0;
	height: 54vw;
	background-color: #1e3932;
	display: flex;
	align-items: center;
	min-height: 626.594px;
}
.hero-img div {
	padding: 0.9em 3em;
	width: 45%;
}
.join-sm {
	display: none;
}
.hero-img div p,
.hero-img div h1 {
	color: #ffffff;
}
.hero-img h1 {
	font-size: 2.2em;
}
.hero-img p {
	font-size: 1.1em;
	line-height: 1.5;
}
.hero-img button {
	background-color: #008248;
	color: #ffffff;
	border-radius: 50px;
	border: none;
	padding: 0.5em 1em;
	font-weight: 600;
	font-size: 1.1em;
	margin-top: 1.4em;
}
.hero-img button:hover {
	background-color: #008248e6;
}
.hero-img a {
	color: #ffffff;
}
/* -------------------------- -------------------------- */
.get-started {
	display: flex;
	align-items: center;
	padding: 128px 0;
}
.get-started-container {
	display: grid;
	text-align: center;
	grid-column-gap: 5%;
	grid-row-gap: 11.1%;
	margin: 0 4em;
}
.get-started-container div p {
	color: rgba(0, 0, 0, .87);
	font-weight: normal;
}
.get-started-container div:nth-of-type(1) {
	grid-column-start: 1;
	grid-column-end: 4;
}
/* -------------------------- -------------------------- */
.get-favorites {
	background-color: #f1f8f6;
	padding-top: 25px;
}
.get-favorites h1 {
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 2em;
}
.tab {
	overflow: hidden;
	border: none;
	display: flex;
	justify-content: center;
}
.tab-link {
	background-color: #f1f8f6;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.8em 1em;
	transition: 0.3s;
	font-size: 1.5em;
	font-weight: 700;
	border-bottom: 4px solid transparent;
}
.star {
	color: #cba258;
	font-size: 0.7em;
}
.tab-link.active {
	border-bottom: 4px solid #008248;
}
.tab-content {
	display: none;
	padding: 6px 12px;
	background-color: #d4e9e2;
	margin: 0 auto;
	box-shadow: inset 0 7px 9px -7px rgb(0 0 0 / 14%);
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.tab-content-visibility {
	margin: 0 auto;
	width: 700px;
	overflow: auto;
}
.tab-content img {
	width: 375px;
	height: 210px;
	margin: 0;
	float: left;
}
.tab-content div h3 {
	padding-top: 2em;
	font-size: 1.4em;
}
.tab-content div p {
	font-weight: normal;
}
/* -------------------------- -------------------------- */
.endless-extras {
	padding: 120px 0 180px 0;
}
.endless-extras-container {
	display: grid;
	text-align: center;
	grid-column-gap: 5%;
	grid-row-gap: 11.1%;
	margin: 0 4em;
}
.endless-extras-container div p {
	color: rgba(0, 0, 0, .87);
	font-weight: normal;
}
.endless-extras-container div a,
.get-started-col a,
.earn-stars-col a,
.star-codes-container a {
	color: #008248;
}
.endless-extras-container div:nth-of-type(1) {
	width: 50%;
	grid-column-start: 1;
	grid-column-end: 4;
	margin: 0 auto;
}
.endless-extras-container div p:nth-of-type(1) {
	line-height: 1.6;
}
/* -------------------------- -------------------------- */
.earn-stars {
	padding: 40px 0;
	background-color: #f3f1e7;
}
.earn-stars-row {
	display: grid;
	grid-template-columns: 1fr repeat(2, 2fr);
	margin: 0 6em;
	padding-top: 30px;
}
.line-lg {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.earn-stars-col img {
	float: left;
	clear: both;
	padding-right: 15px;
}
.earn-stars-col > * {
	overflow: auto;
}
.earn-stars-col h3 {
	margin: 0;
}
.earn-stars div p {
	color: rgba(0, 0, 0, .87);
	font-weight: normal;
}
.earn-stars-header {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 10px;
}
.earn-stars-row div p:nth-of-type(1) {
	line-height: 1.6;
}
/* -------------------------- -------------------------- */
.star-codes {
	padding: 128px 0;
}
.star-codes-container {
	width: 48%;
	max-width: 729.213px;
	margin: 0 auto;
	color: #000000de;
	font-weight: normal;
}
.star-codes-container div:nth-of-type(1) {
	margin-bottom: 100px;
}
input[type="text"] {
	border: none;
	border-bottom: 1px solid rgb(31, 31, 32);
	width: 100%;
	margin-top: 40px;
	margin-bottom: 30px;
	color: #0000008f;
	outline: none;
	font-size: 1em;
	padding-bottom: 10px;
}
.star-codes-container button {
	position: relative;
	float: right;
	bottom: 4.9em;
	right: 0;
	border-radius: 50px;
	padding: 0.5em 1.3em;
	background-color: #ffffff;
	font-weight: 600;
	font-size: 1em;
	outline: none;
	border-color: #0000008f;
	color: #000000de;
}
.star-codes-container button:hover {
	background-color: #0000000f;
}
.star-codes-container p:nth-of-type(2) {
	margin-bottom: 5px;
}
.star-codes-container p:nth-of-type(3) {
	margin-top: 0;
}
/* -------------------------- -------------------------- */
.informations {
	background-color: #f7f7f7;
}
.informations-container {
	padding: 4em 3em;
}
.informations-top,
.informations-bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
}
.informations h3 {
	text-transform: uppercase;
	color: #0000008f;
	font-size: 1em;
}
.informations p {
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.4;
}
.informations a {
	color: #008248;
}
/* -------------------------- -------------------------- */
.footer-container {
	padding: 4em 3em;
	font-weight: normal;
}
.footer-top {
	display: flex;
	justify-content: space-between;
}
.footer-top h2 {
	font-size: 1.2em;
	font-weight: normal;
}
footer ul {
	list-style-type: none;
	padding: 0;
}
.footer-top ul li {
	padding: 0.7em 0;
}
.footer-top ul li a {
	text-decoration: none;
	color: #0000008f;
}
.footer-top ul li a:hover {
	color: #000000de;
}
.footer-top-sm {
	display: none;
}
.footer-social-links {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #3535353b;
	padding: 2em 0 0.5em 0;
}
.footer-social-links li {
	margin-right: 1em;
}
.footer-social-links a {
	color: black;
}
.footer-bottom {
	display: flex;
}
.footer-bottom li {
	border-right: 1px solid black;
	padding: 0 1em;
}
.footer-bottom li:nth-child(1) {
	padding-left: 0;
}
.footer-bottom li a {
	text-decoration: none;
	color: #000000;
}
.footer-bottom li a:hover {
	text-decoration: underline;
}
.footer-container p {
	font-size: 0.9em;
	color: #0000008f;
}
/* ----------------------------Responsive---------------------------- */
@media screen and (min-width: 1600px) {
	.nav-top > div,
	.nav-bottom p {
		width: 1485px;
		margin: 0 auto;
	}
	.hero-img div {
		padding: 0 48px;
		width: 1485px;
		margin: 0 auto;
	}
	.hero-img div > * {
		width: 700px;
	}
	.hero-img {
		max-height: 850px;
	}
	.get-started-container,
	.endless-extras-container {
		max-width: 1440px;
		margin: 0 auto;
	}
	.earn-stars-row {
		max-width: 1440px;
		margin: 0 auto;
	}
	.informations-container {
		max-width: 1440px;
		margin: 0 auto;
	}
	.footer-container {
		max-width: 1440px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1024px) {
	.endless-extras-container div:nth-of-type(1) {
		width: 70%;
	}
	.earn-stars-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2%;
		margin: 0 3em;
	}
	.earn-stars-row div:nth-of-type(1) {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.line-md {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}
	.line-lg {
		border-bottom: none;
	}
	.informations p {
		font-weight: normal;
		font-size: 0.9em;
		line-height: 1.5;
	}
	.footer-container {
		padding: 4em 1em;
	}
	.footer-top {
		flex-direction: column;
	}
	.footer-top-lg {
		display: none;
	}
	.footer-top-sm {
		display: flex;
		cursor: pointer;
		padding: 0.5em 0;
	}
	.footer-top ul {
		display: none;
	}
	.footer-top ul.footer-row-content {
		display: block;
	}
	.footer-top h2 {
		font-size: 1em;
	}
	.footer-top-sm h2 {
		flex: 1;
	}
	.footer-top-sm button {
		background-color: #ffffff;
		border: none;
	}
	.footer-bottom {
		flex-direction: column;
	}
	.footer-bottom li {
		border: none;
		padding: 0.8em 0;
	}
}
@media screen and (max-width: 767px) {
	.nav-bottom {
		padding: 0 16px;
	}
	.nav-top {
		padding-right: 16px;
		padding-left: 16px;
		height: 4em;
	}
	.nav-top div > *:not(.logo) {
		display: none;
		padding: 42.240px;
	}
	.hero-img {
		background-image: url("./images/star-bg-phone.png");
		background-position: 50%;
		height: 135vw;
		background-size: cover;
		align-items: flex-start;
	}
	.hero-img div {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
		padding-top: 4.4em;
	}
	.hero-img div span:nth-of-type(1) {
		display: none;
	}
	.join-sm {
		display: block;
		font-size: 0.9em;
		text-align: center;
	}
	.join-sm button {
		font-size: 0.9em;
	}
	.hero-img h1 {
		font-size: 1.95em;
	}
	.hero-img p {
		font-size: 1em;
		text-align: center;
	}
	.get-started,
	.endless-extras {
		padding: 60px 0;
	}
	.get-started-container,
	.endless-extras-container {
		display: block;
		overflow: auto;
		margin: 0;
	}
	.get-started-container div {
		margin-bottom: 2em;
	}
	.get-started-container div:nth-of-type(1) {
		font-size: 0.9em;
		padding-bottom: 15px;
	}
	.get-started-col,
	.endless-extras-container-col {
		padding: 0 16px;
		display: grid;
		text-align: left;
		grid-template-columns: auto 1fr;
		grid-column-gap: 2%;
	}
	.get-started-col img {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.get-started-col h3,
	.endless-extras-container-col h3 {
		grid-column-start: 2;
		grid-column-end: 4;
		margin-top: 0;
		font-size: 1em;
	}
	.get-started-col p,
	.endless-extras-container-col p {
		grid-row-start: 2;
		grid-column-start: 2;
		grid-column-end: 4;
		margin-top: 0;
		font-size: 0.9em;
	}
	.endless-extras-container-col img {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 4;
	}
	.endless-extras-container-col a {
		grid-row-start: 3;
		grid-column-start: 2;
		grid-column-end: 4;
		margin-top: 0;
	}
	.endless-extras-container div:nth-of-type(1) {
		margin-bottom: 3em;
		width: 90%;
		padding: 0 16px;
		font-size: 0.9em;
	}
	.earn-stars-header {
		width: 90%;
		padding-bottom: 0;
	}
	.endless-extras-container div {
		margin-bottom: 3.5em;
	}
	.earn-stars-row {
		grid-template-columns: 1fr;
		margin: 1em;
		padding: 0;
	}
	.earn-stars-row div:nth-of-type(1) {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.earn-stars-row div:nth-of-type(2) {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.earn-stars-col {
		padding: 20px 0;
	}
	.line-md {
		border-bottom: none;
	}
	.line-sm {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}
	.star-codes-container {
		margin: 1em;
		width: 90vw;
	}
	.informations-top,
	.informations-bottom {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
	.informations-container {
		padding: 2em 1em;
	}
	.informations h3 {
		font-size: 0.8em;
	}
	.informations p {
		font-weight: normal;
		font-size: 0.8em;
	}
	.get-favorites h1 {
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	.tab {
		justify-content: space-between;
	}
	.tab-link {
		padding: 0.7em 1em;
		font-size: 1.3em;
	}
	.tab-content {
		padding: 6px 0;
	}
	.tab-content-visibility {
		margin: 0 auto;
		width: 90%;
		display: flex;
		flex-direction: column;
		text-align: center;
		overflow: unset;
	}
	.tab-content div img {
		width: 100%;
		height: 100%;
		padding: 0;
	}
	.tab-content div h3 {
		margin: 0;
		font-size: 1.2em;
	}
	.tab-content div p {
		font-size: 0.9em;
	}
}
